bin/Release
bin/Debug
*.swp
*.userprefs
**/obj
/packages
!/packages/*.config
/src/*.suo
/bin/*.nupkg
/src/.vs
/paket-files
/.fake
/.paket/paket.exe
/Aardvark.log
/src/*.opendb
/src/*.db
.idea/
*.user
.paket/
**/.DS_Store
src/MiniCVNative/*.o
src/MiniCVNative/*.dylib
.ionide
Aardvark.log
**/.vs/
*.pdb
*.tlog
src/MiniCVNative/Debug
src/MiniCVNative/Release
src/MiniCVNative/build
/.vcpkg
/.vscode/*.log
/src/jitmem/build/
/bin/pack